.Quiz {
  margin-bottom: 2rem;
}

.Quiz-question {
  max-width: 75rem;
  color: hsl(230, 34%, 46%);
  font-size: clamp(2rem, 4vw, 2.6rem);
  font-weight: 700;
  margin-bottom: 2rem;
  display: inline-block;
  text-align: center;
}

@media (min-width: 1140px) {
  .Quiz-question {
    text-align: left;
  }
}

.Quiz-answers {
  border-bottom: 0.1rem solid hsl(231, 41%, 90%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.Quiz-span {
  margin-bottom: 3rem;
}

.Quiz-label {
  width: 100%;
  height: 100%;
  color: hsl(231, 42%, 28%);
  border: 0.1rem solid #4d5b9e;
  border-radius: 1.5rem;
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.8rem);
  font-weight: 500;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.Quiz-label:hover {
  color: hsl(230, 40%, 50%);
  background-color: hsl(230, 61%, 90%);
  cursor: pointer;
}

.Quiz-input:checked + .Quiz-label {
  background: #d6dbf5;
  border-color: transparent;
}

.correctAnswer .Quiz-input + .Quiz-label {
  background: #94d7a2;
  border-color: transparent;
}

.Quiz-span:not(.correctAnswer) .Quiz-input:disabled + .Quiz-label {
  opacity: 0.5;
}

.Quiz-span:not(.correctAnswer) .Quiz-input:disabled + .Quiz-label:hover {
  background: transparent;
}

.playAgain .Quiz-span:not(.correctAnswer) .Quiz-input:checked + .Quiz-label {
  background: #f8bcbc;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}
