.Quiz {
  margin-bottom: 2rem;
}

.Quiz-question {
  max-width: 75rem;
  color: hsl(230, 34%, 46%);
  font-size: clamp(2rem, 4vw, 2.6rem);
  font-weight: 700;
  margin-bottom: 2rem;
  display: inline-block;
  text-align: center;
}

@media (min-width: 1140px) {
  .Quiz-question {
    text-align: left;
  }
}

.Quiz-list {
  list-style: none;
  border-bottom: 0.1rem solid hsl(231, 41%, 90%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.Quiz-item {
  padding-bottom: 3rem;
}

.Quiz-btn {
  width: 100%;
  height: 100%;
  color: hsl(231, 42%, 28%);
  background-color: transparent;
  border: 0.1rem solid #4d5b9e;
  border-radius: 1.5rem;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 500;
  padding: 2rem;
  transition: all 0.4s;
}

.Quiz-btn.active {
  color: hsl(230, 40%, 50%);
  background-color: hsl(230, 61%, 90%);
}

.Quiz-btn:hover {
  color: hsl(230, 40%, 50%);
  background-color: hsl(230, 61%, 90%);
  cursor: pointer;
}
