.Quiz {
  margin-bottom: 2rem;
}

.Quiz-question {
  max-width: 75rem;
  color: hsl(230, 34%, 46%);
  font-size: clamp(2rem, 4vw, 2.6rem);
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 810px) {
  .Quiz-question {
    text-align: left;
    justify-content: flex-start;
  }
}

.Quiz-answers {
  padding-bottom: 6rem;
  border-bottom: 0.1rem solid hsl(231, 41%, 90%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
@media (min-width: 1140px) {
  .Quiz-answers {
    padding-bottom: 0;
  }
}

@media (min-width: 1140px) {
  .Quiz-span {
    margin-bottom: 6rem;
  }
}

.Quiz-label {
  width: 100%;
  height: 100%;
  border: 0.1rem solid hsl(230, 34%, 46%);
  border-radius: 1.5rem;
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.8rem);
  font-weight: 500;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.Quiz-label:hover {
  color: hsl(230, 40%, 50%);
  background-color: hsl(230, 61%, 90%);
  cursor: pointer;
}

.Quiz-input:checked + .Quiz-label {
  background: hsl(230, 61%, 90%);
}

.correctAnswer .Quiz-input + .Quiz-label {
  background: hsl(133, 46%, 71%);
}

.Quiz-span:not(.correctAnswer) .Quiz-input:disabled + .Quiz-label {
  opacity: 0.5;
}

.Quiz-span:not(.correctAnswer) .Quiz-input:disabled + .Quiz-label:hover {
  background: transparent;
}

.playAgain .Quiz-span:not(.correctAnswer) .Quiz-input:checked + .Quiz-label {
  background: hsl(0, 81%, 85%);
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
